[submodule "@account-abstraction"]
	path = @account-abstraction
	url = https://github.com/candidelabs/account-abstraction
	branch=mod
[submodule "@safe-contracts"]
	path = @safe-contracts
	url = https://github.com/safe-global/safe-contracts
[submodule "forge_depkoy/lib/forge-std"]
	path = forge_depkoy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	branch = v1.5.5
[submodule "forge_deploy/lib/openzeppelin-contracts"]
	path = forge_deploy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.3
[submodule "forge_deploy/lib/CandideWalletContracts"]
	path = forge_deploy/lib/CandideWalletContracts
	url = https://github.com/dannpr/CandideWalletContracts
